body {
    background-color: aliceblue;
}
#camera {
    height: 400px;
    width: 400px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

img {
    height: 300px;
    width: 400px;
    padding: 10px;
}

.column {
    display: inline;
}